@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Caveat', cursive;;
  }

  .main {
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    display: flex; /* we want to add this to make work those remaining 2 styles */
    align-items: center;  /*Center it to vertical place */
    justify-content: center; /*Center it to Horizontal place */
  }

  .glass {
    background: white;
    min-height: 50vh ;
    width: 50vh;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
  }

.title {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    flex: 0.1;
    min-height: 10vh;
    width: 50vh;
    display: flex;
    align-items: center;  /*Center it to vertical place */
    justify-content: center; /*Center it to Horizontal place */
    border-radius: 2rem;
    font-size: 10vh;
}

.forum {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    font-size: 5vh;
}

.forum input {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    border-radius: 2rem;
    transition: 0.2s linear;
    cursor: text;
    font-size: 3vh;
    outline: none;
    padding: 10px ;
  }

  button {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    cursor: pointer;
    border-radius: 2rem;
    width: 100%;
    border: none;
    height: 7vh;
    transition: 0.5s linear;
    font-size: 5vh;
  }

  button:hover {
    background: #7AD7FD;
  }

  input:hover {
    border: #7AD7FD;
  }

  input:focus {
    border: #7AD7FD;

  }
  
  .db {
    color: crimson;
    font-size: 15px;
  }
  
  .reg{
    translate: 35%;
  }